.landing-navbar {
  width: 100%;
  font-family: "Exo 2", sans-serif;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; // Ensure it stays above other content
  background-color: #000000;
}

.landing-nav-title {
  font-size: 2rem;
  color: #ffffff;
  margin-left: 3%;
}