.master-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5%;
}

.landing-title{
  font-family: "Righteous", cursive;
  font-size: 5rem;
  background-image: linear-gradient(to bottom, #0ba500, #e35892);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 3% 0;
}

.landing-interaction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 5%;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}

.login {
  border: 5px solid #e35892;
  border-radius: 15px;
  background-color: #e35892;
  transition: 0.25s;
}

.sign-up {
  background-color: #0ba500;
  border: solid 5px #0ba500;
  border-radius: 15px;
  transition: 0.25s;
}

.login:hover {
  background-color: #ffffff;
  color: #e35892;
  filter: drop-shadow(0 5px 0.60rem #e35892)
}

.sign-up:hover {
  background-color: #ffffff;
  color: #0ba500;
  filter: drop-shadow(0 5px 0.60rem #0ba500)
}

.lotus {
  width: 20%;
  filter: drop-shadow(0 0 1rem #0ba500);
  animation: pulseAnimation 5s infinite alternate ease-in-out;
}

@keyframes pulseAnimation {
  0% {
    filter: drop-shadow(0 0 1rem #0ba500); /* Green */
    transform: translateY(0); /* Initial position */
  }
  50% {
    filter: drop-shadow(0 0 0.65rem #ffffff); /* White */
    transform: translateY(-10px); /* Hover slightly up */
  }
  100% {
    filter: drop-shadow(0 0 1rem #e35892); /* Pink */
    transform: translateY(0); /* Return to original position */
  }
}

.user-access-divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  width: 90%;
  margin-bottom: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 5px solid #e35892;
  border-radius: 15px;
  font-family: "Exo 2", sans-serif;
  padding: 3% 0;
}

.login-form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form-content input {
  width: 70%;
  padding: 2%;
  margin: 0.5rem;
  border: 5px solid #e35892;
  border-radius: 15px;
  font-family: "Exo 2", sans-serif;
  color: #ffffff;
  background-color: inherit;
}

.login-form-content input:focus {
  outline: none;
}

.login-link-text {
  color: #ffffff;
  font-size: 1rem;
  margin: 1rem;
}

.login-link{
  color: #f25f9c;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.15s;
}

.login-link:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 0.25rem #ffffff);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 5px solid #0ba500;
  border-radius: 15px;
  font-family: "Exo 2", sans-serif;
  padding: 3% 0;
}

.sign-up-form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign-up-form-content input {
  width: 70%;
  padding: 2%;
  margin: 0.5rem;
  border: 5px solid #0ba500;
  border-radius: 15px;
  font-family: "Exo 2", sans-serif;
  color: #ffffff;
  background-color: inherit;
}

.sign-up-form-content input:focus {
  outline: none;
}

.sign-up-link-text {
  color: #ffffff;
  font-size: 1rem;
  margin: 1rem;
}

.sign-up-link{
  color: #0ba500;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.15s;
}

.sign-up-link:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 0.25rem #ffffff);
}

.landing-text{
  width: 100%;
  padding: 3%;
}

.fade-text {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Smooth fade transition */
  font-family: "Righteous", cursive;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, #0ba500, #e35892);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fade-out {
  opacity: 0; /* Fading out */
  font-family: "Righteous", cursive;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, #0ba500, #e35892);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fade-in {
  opacity: 1; /* Fading in */
  font-family: "Righteous", cursive;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, #0ba500, #e35892);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}